*{
    margin: 0;
    padding: 0;
}
.card-1{
    height: 400px;
    width: 100vw;
    background-color: rgba(42, 147, 165, 0.082);
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
   
}
.card1-1{
    width: 250px;
    height: 220px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 50px;
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.1boqsY2N2RQUfPk_cChZhQHaEo&pid=Api&P=0&h=180");
    background-size: cover;
    background-position: center;
}
.card1-2{
    width: 250px;
    height: 220px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 50px;
    background-image: url("https://e0.pxfuel.com/wallpapers/147/251/desktop-wallpaper-delicious-pizza-fast-food.jpg");
    background-size: cover;
    background-position: center;
}
.card1-3{
    width: 250px;
    height: 220px;
    border-radius: 20px;
    margin-top: 50px;
    background-image: url("https://t3.ftcdn.net/jpg/05/89/70/46/360_F_589704609_b84XoVDaeopctL2Iz0lG4IQT86Dzm7xz.jpg");
    background-size: cover;
    background-position: center;
    border: none;
    outline: 0;
}