.footer-1{
    width: 100vw;
    height: 65px;
    background-color: rgba(220, 20, 60, 0.927);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
   
}
.footer{
    position: relative;
}
.footer-1 span{
    font-size: 40px;
    color: white;
    margin-bottom: 15px;
}
.footer-1 h2{
    color: white;
    margin-top: 12px;
    
}
.footer-1 p{
    color: white;
    
}
.footer-2{
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-right: 75px;
}
.footer-span{
    width: 30px;
    height: 40px;
}
.footer-4{
    display: flex;
    margin-left: 60px;
}
.footer-6{
    width: 100vw;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.957);
    color: rgba(255, 255, 255, 0.594);
    display: flex;
    justify-content: space-between;   
}
.footer-6 li{
    list-style: none;
}
.footer-7{
    margin-top: 65px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;


}